{% extends "base.html" %} {% load static %}
<!-- Cart template -->
{% block content %}
{% if cart_items %}
<div class="cart">
    {% for item in cart_items %}
    <div class="cart-item">
        <a class="product" href="{% url 'product_detail' item.product.id %}">
            {% if product.image %}
            <img class="product-img" src="{{ item.product.image}}" alt="Image of a product.">
            {% else %}
            <img class="product-img" src="{% static 'assets/noimage.png' %}" alt="Image of a product.">
            {% endif %}
            <p class="product-name">{{ item.product.name }}</p>
            <p class="product-price">&euro; {{ item.product.price }}</p>
        </a>
        <div class="cart-details">
            <p>Quantity:</p>
            <form class="update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
            </form>
            <a class="update-item btn">Update</a>
            <a class="remove-item btn" id="remove_{{ item.item_id }}">Remove</a>
        </div>
    </div>
    {% endfor %}
    <div class="cart-actions">
        <p class="sub-total">Sub-total: ${{ total|floatformat:2 }}</p>
        <p class="delivery">Delivery: ${{ delivery|floatformat:2 }}</p>
        <p class="grand-total">Grand-total: ${{ grand_total|floatformat:2 }}</p>
        {% if free_delivery_delta > 0 %}
        <p class="mb-1 text-danger">
            You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
        </p>
        {% endif %}
        <div class="cart-buttons">
            <a href="{% url 'products' %}" class="btn secondary">Back to shopping</a>
            <div class="btn">Checkout</div>
        </div>
    </div>
</div>
{% else %}
<div class="no-items">
    <h1>Oops seems like you forgot to select products you want to buy...</h1>
    <a href="{% url 'products' %}" class="">Back to shopping</a>
</div>
{% endif %}
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(() => {
        // Updated quantity of selected item.
        $(".update-item").click(function (e) {
            const form = $(this).prev(".update-form");

            form.submit();
        });
        // Removes item from cart.
        $(".remove-item").click(function (e) {
            const csrfToken = "{{ csrf_token }}";
            const itemId = $(this).attr("id").split("remove_")[1];
            const url = `/cart/remove/${itemId}/`;
            const data = { "csrfmiddlewaretoken": csrfToken };

            $.post(url, data)
                .done(() => {
                    location.reload();
                });
        });
    });
</script>
{% endblock scripts %}