[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
stripe = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.8"
