{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
  <!-- Google API Icons -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  <link rel="stylesheet" href="{% static 'styles/home.css' %}">
  <link rel="stylesheet" href="{% static 'styles/header.css' %}">
  <link rel="stylesheet" href="{% static 'styles/products.css' %}">
  <link rel="stylesheet" href="{% static 'styles/cart.css' %}">
  <title>E-Commerce{% block extra_title %}{% endblock extra_title %}</title>
</head>

<body>
  <!-- Header -->
  <header>
    <!-- Action Bar -->
    <div class="action-bar">
      <span id="nav-btn" class="material-icons-outlined">
        menu
      </span>
      <div>
        <a href="{% url 'home' %}" class="logo" href="">inMoment</a>
      </div>
      <div class="sub-actions">
        <span id="search-btn" class="material-icons-outlined">
          search
        </span>
        <a href="{% url 'cart' %}" class="material-icons-outlined">
          shopping_cart
        </a>
      </div>
    </div>
    <!-- Nav Bar -->
    <nav id="nav-bar" class="nav-bar">
      <ul class="nav">
        <a class="nav-item" href="{% url 'home' %}">
          <li>Home</li>
        </a>
        <a class="nav-item" href="{% url 'products' %}">
          <li>Featured</li>
        </a>
        <a class="nav-item" href="{% url 'products' %}?category=tops">
          <li>Tops</li>
        </a>
        <a class="nav-item" href="{% url 'products' %}?category=bottom">
          <li>Bottom</li>
        </a>
        <a class="nav-item" href="{% url 'products' %}?category=shoes">
          <li>Shoes</li>
        </a>
        <a class="nav-item" href="{% url 'products' %}?category=accessories">
          <li>Accessories</li>
        </a>
        <a class="nav-item" href="">
          <li>My Account</li>
        </a>
      </ul>
    </nav>
    <!-- Search Bar -->
    <form method="GET" action="{% url 'products' %}" id="search-bar" class="search-bar">
      <input type="text" name="q" placeholder="Search for product...">
      <button class="material-icons-outlined">search</button>
    </form>
  </header>
  <!-- Toasts -->
  {% if messages %}
  <div></div>
  {% endif %}
  <!-- App/Main Contetnt -->
  <div class="app">
    {% block content %}
    {% endblock content %}
  </div>
  <!-- Custom Scripts -->
  <script src="{% static 'scripts/jquery.min.js' %}"></script>
  <script src="{% static 'scripts/nav.js' %}"></script>
  <script src="{% static 'scripts/sort.js' %}"></script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>