@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --color-1: #111b1e;
    --color-2: #2f4c58;
    --color-3: #63a583;
    --color-4: #6e93d6;
    --color-5: #e4dbd9;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e4dbd9;
    font-family: 'Lato', sans-serif;
    color: #111b1e;
    width: 100%;
    color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

input[type=text] {
    padding: 1em;
    border: none;
    border-bottom: 2px solid var(--color-4);
}
